<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CI/CD Test Server</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* This style will ensure the .full-height class has a minimum height of 100vh minus footer height */
        .full-height {
            min-height: calc(100vh - 60px); /* Adjust 60px to the height of your footer if different */
        }
    </style>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center full-height">
        <h1 class="display-1">This is a TEST 6</h1>
        <div id="version-display"></div>
    </div>

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start mt-4 fixed-bottom">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            Made with Bootstrap - 
            <a class="text-dark" href="https://jahirultusar.com/" target="_blank">Visit My Site</a>
        </div>
    </footer>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        fetch('/version/')
            .then(response => response.text())
            .then(version => {
                document.getElementById('version-display').textContent = `Version: ${version}`;
            });
    </script>

</body>
</html>

<!-- staging test -->