<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CI/CD Test Server</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .full-height {
            min-height: calc(100vh - 60px); /* Adjust 60px to the height of your footer if different */
        }
    </style>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center full-height">
        <div> <!-- This is the new div wrapper for vertical alignment -->
            <h1 class="display-1">TEST Version: {{ git_version }}</h1>
            <!-- <p class="lead">Git Hash: {{ git_hash }}</p> -->
            <p class="lead">commit message: {{ git_message }}</p>
            <p class="lead">la_test: {{ git_date }}</p>
        </div>
    </div>
    
    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start mt-4 fixed-bottom">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            Made with Bootstrap - 
            <a class="text-dark" href="https://jahirultusar.com/" target="_blank">Visit My Site</a>
        </div>
    </footer>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
